<!doctype html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>MinaZ Blockchain Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Minaz brings trust to cross boarder ecommerce.">
    <link rel="icon" href="https://minazb2b.com/wp-content/uploads/2019/12/cropped-minaz-logo-32x32.png"
      sizes="32x32" />
    <link rel="icon" href="https://minazb2b.com/wp-content/uploads/2019/12/cropped-minaz-logo-192x192.png"
      sizes="192x192" />
    <link rel="apple-touch-icon-precomposed"
      href="https://minazb2b.com/wp-content/uploads/2019/12/cropped-minaz-logo-180x180.png" />
  </head>

  <body>
    <div id="root"></div>
  </body>

</html>